ex.js

/src/generated/prisma
.DS_Store
/http

# 수정된 부분
/src/middilewares
scj.js
/src/routers/comment-router.js
/src/routers/image-router.js
/src/routers/tag-router.js
/src/routers/style-router.js
/src/routers/ranking-router.js
/src/routers/style-router-sub.js

/src/controllers/ranking-controller.js
/src/services/ranking-service.js
/src/services/style-service.js

/src/validators/curating-validator.js
/src/middlewares/validator-middleware.js
/src/uploads
uploads

/prisma/seed.js

/src/ex.js

# 의존성 디렉토리
node_modules/

# 로그 파일
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 임시 파일
.DS_Store # Mac OS에서 생성하는 디렉토리 서비스 파일
*.tmp
*.bak
*.swp # Vim 스왑 파일

*.http

# 환경 설정 파일 (보안 또는 로컬 설정)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# 빌드 관련 파일 (Webpack, Babel 등)
dist/
build/
coverage/

# IDE 관련 파일 (VS Code)
.vscode/

# 문서 폴더 (Docs)
docs/

# 기타
npm-shrinkwrap.json

# 추가
seed.js
uploads/
curation-router.js
image-router.js
ranking-router.js
style-router.js
tag-router.js
ranking-controller.js